<h1 class="display-4 mb-3">
    Register
</h1>
<div class="card">
    <div class="card-body">
        @if (ViewData["message"] != null)
        {
            <div class="alert alert-danger" role="alert">
                @ViewData["message"]
            </div>
        }
        <form method="POST">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Name</label>
                <input type="text" name="Name" class="form-control" id="exampleInputEmail1"
                    aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Lastname</label>
                <input type="text" name="Lastname" class="form-control" id="exampleInputEmail1"
                    aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input type="email" name="Mail" class="form-control" id="exampleInputEmail1"
                    aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" name="Password" class="form-control" id="exampleInputPassword1">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

<style>
    .card {
        max-width: 50%;
        margin: 0 auto;
    }

    h1 {
        text-align: center;
    }
</style>