@{
    ViewData["Title"] = "Homeasdsa Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus cupiditate, consequuntur placeat fuga delectus minima cum qui reiciendis laudantium fugiat excepturi hic dolore mollitia dignissimos suscipit molestias tempore eius pariatur?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius magnam dicta quia maiores quos vel quidem deserunt nemo voluptates alias modi aut quas, minus natus expedita suscipit sed sit laboriosam.
    </p>
</div>
